.background__wrapper {
  background-image: url(./../img/background-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin-bottom: 100px;

  &--gradient{
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.80) 0%, rgba(238, 61, 27, 0.80) 100%);
    height: 100%;
  }
}
