.economy-money {
  background: #ed4c5c;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text--white {
  color: #fff;
}

.apps {
  margin-top: 40px;
  display: flex;
  gap: 0 23px;
  
}
.apps--item{
    transition: transform .2s ease-in ;
  &:hover{
    transform: scale(1.5) ; 
    transition: transform .2s ease-in ;
  }
}