.footer {
    margin-top: 80px;
    margin-bottom: 80px;
}


.footer__title {
    color: #101010;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 20px;
}
.footer__text-copyright {
    margin-top: 45px;
}