// base
@import "./base/vars";
@import "./base/reset";
@import "./base/base";

// block
@import "./blocks/nav";
@import "./blocks/nav-list";
@import "./blocks/header";
@import "./blocks/background-wrapper";
@import "./blocks/info-app";
@import "./blocks/possibilities";
@import "./blocks/techlologies";
@import "./blocks/economy-money";
@import "./blocks/form";
@import "./blocks/footer";
