@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins";
  background-color: #ffffff;
}
a {
  color: #000000;
}

.container {
  width: 1115px;
  margin: 0 auto;
}

.title--size {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
}

.subtitle--size {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.5px;
}
/********** NAVIGATION START **********/
.nav {
  padding: 29px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-link {
  font-weight: 600;
  font-size: 24px;
  transition: 0.5s ease;
}
.title-link:hover {
  color: #0077c0;
}
.burger {
  width: 40px;
  height: 40px;
  display: none;
}

.nav__menu {
  display: flex;
  gap: 32px;
}
.nav__menu-item {
}
.nav__menu-link {
  font-size: 16px;
  font-weight: 500;

  transition: 0.3s ease-in;
}
.nav__menu-link:hover {
  color: #0077c0;
}

.started-btn {
  color: #ffffff;
  padding: 12px 28px;
  background-color: #0077c0;

  border-radius: 10px;

  transition: 0.3s ease;
}

.started-btn:hover {
  background-color: #c7eeff;
  color: #000000;
}

/********** NAVIGATION ENDS **********/

/********** HERO START **********/
.hero {
  position: relative;
  display: flex;
  padding-top: 43px;
}
.hero__content {
  margin-top: 70px;

  z-index: 10;
}
.hero__content-title {
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 30px;
}
.hero__content-text {
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
.hero__content-btn {
}
.hero__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/********** HERO ENDS **********/

/********** partners start **********/
.partners {
  display: flex;
  justify-content: center;
  gap: 73px;
  padding: 100px 0;
}
/********** partners ends **********/

/********** feature start **********/
.feature-bg {
  background-color: #0077c0;
}
.feature {
  padding: 80px 0 140px;
}
.feature__title {
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.feature__subtitle {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.feature__card {
  display: flex;
  gap: 24px;
}
.feature__card-item {
  width: 356px;
}
.feature__card-icon {
  margin-bottom: 28px;
}
.feature__card-title {
  color: #fafafa;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.feature__card-text {
  color: #fafafa;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/********** feature ends **********/

/********** testimonial start **********/
.testimonial-bg {
  background-color: #fafafa;
}
.testimonial {
  padding: 87px 0 126px;
}
.testimonial__title {
  color: #0077c0;
  text-align: center;

  margin-bottom: 16px;
}
.testimonial__subtitle {
  text-align: center;

  margin-bottom: 43px;
}
.testimonial__section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.testimonial__card {
  width: 316px;
  padding: 20px;

  background-color: #fff;
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;
}
.user__img {
  border-radius: 50%;
}
.user__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.feedback {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
}
/********** testimonial ends **********/

/********** footer start **********/
.footer-bg {
  background-color: #1d242b;
}
.footer {
  padding: 64px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__logo-img {
  width: 40px;
  height: 24px;
}
.footer__logo-title {
  font-weight: 600;
  font-size: 24px;
}
.footer__logo-title-link {
  color: #ffffff;

  transition: 0.5s ease;
}

.footer__logo-title-link:hover {
  color: #0077c0;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__updates-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;

  transition: 0.5s ease;
}

.footer__updates-text:hover {
  color: #0077c0;
}

/********** footer ends **********/

/********** ADAPTIVE **********/

@media screen and (max-width: 1024px) {
  /* nav */
  .nav {
    position: relative;
  }
  .nav__logo {
    margin-left: 20px;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -300px;
  }
  .nav__menu-link {
    transition: 0.001ms ease-in;
  }
  .started-btn-item {
    display: none;
  }
  .nav__menu--active {
    top: 115px;
    padding: 90px 0;
    width: 100%;

    text-align: center;
    background-color: #0077c0;
    z-index: 100;
  }
  .nav__menu--active a {
    color: #ffffff;
    font-size: 24px;
  }
  /* nav */
  /* hero */
  .hero__img {
    display: none;
  }
  .hero__content {
    margin: 0 25px;

    text-align: center;
  }
  .hero__content-title,
  .hero__content-text {
    width: 100%;
  }
  /* hero */

  /* partners */
  .partners {
    flex-direction: column;
    align-items: center;
  }
  .partners__item {
    width: 50%;
    height: 50%;

    margin: 60px 0;
  }
  /* partners */

  /* feature */
  .feature {
    background-color: #0077c0;
  }
  .feature__card {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .feature__card-item {
    margin-bottom: 40px;
  }
  /* feature */

  /* testimomials */
  .testimonial {
    background-color: #fafafa;
  }
  .testimonial__section {
    flex-direction: column;
    align-items: center;
  }
  /* testimomials */

  /* footer */
  .footer {
    flex-direction: column;
    align-items: center;
    background-color: #1d242b;
    text-align: center;
    gap: 80px;
  }

  /* footer */
}

@media screen and (max-width: 430px) {
  /* nav */
  .burger {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .nav__logo-img {
    width: 80px;
    height: 80px;
  }
  .title-link {
    font-weight: 600;
    font-size: 48px;
  }

  .nav__menu--active a {
    font-size: 36px;
  }
  /* nav */

  /* hero */
  .hero__content-title {
    font-size: 100px;
  }
  .hero__content-text {
    font-size: 36px;

    margin-top: 50px;
  }
  .started-btn {
    display: inline-block;
    font-size: 32px;
    padding: 30px 120px;

    margin-top: 15px;
  }
  /* hero */
  /* feature */

  .feature__title {
    font-size: 32px;

    margin-bottom: 30px;
  }
  .feature__subtitle {
    font-size: 96px;
  }
  .feature__card-title {
    font-size: 48px;
  }
  .feature__card-text {
    font-size: 28px;
    line-height: 28px;
  }
  /* feature */

  /* testimomials */
  .testimonial__title {
    font-size: 32px;

    margin-bottom: 30px;
  }
  .testimonial__subtitle {
    font-size: 96px;
  }

  .user__img {
    width: 80px;
    height: 80px;
  }
  .testimonial__card {
    width: 420px;

    margin-bottom: 30px;
  }
  .user__name {
    font-size: 24px;
  }
  .feedback {
    font-size: 24px;
  }
  /* testimomials */

  /* footer */
  .footer__updates-text {
    font-size: 32px;
  }
  .footer__logo-img {
    width: 80px;
    height: 40px;
  }
  .footer__logo-title-link {
    font-size: 48px;
  }

  .footer__social img {
    width: 64px;
    height: 64px;
  }

  /* footer */
}
