@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #000000;
}

.bg-wrapper {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.navigation {
  padding: 46px 0 46px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__menu {
  display: flex;
  align-items: center;
  gap: 56px;
}

.navigation__menu-link {
  color: #ffff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;

  transition: 0.5s ease;
}
.navigation__menu-link:hover {
  color: #fdff00;
}

.main {
  padding-top: 50px;
}

.main__title,
.main__subtitle,
.main__genre,
.main__text {
  color: #ffff;
}

.main__title {
  font-size: 72px;
  line-height: 98px;
  font-weight: 700;
}
.main__subtitle {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;

  margin-top: 16px;
}
.main__genre {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  gap: 32px;
  margin: 36px 0 38px 0;
}

.main__genre span {
  margin-right: 32px;
}

.main__genre span + span {
  margin: 0;
}
.main__text {
  width: 604px;
}
.main__text--bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.main__text--regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  margin-bottom: 48px;
}

.main__text--regular span a {
  color: #ffff;
  font-weight: 700;

  text-decoration: underline;

  transition: 0.5s ease;
}
.main__text--regular span a:hover {
  color: #fdff00;
}

.link-btn {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding: 6px 34px;
  background-color: #fdff00;
  border-radius: 8px;

  transition: 0.5s ease;
}
.link-btn:hover {
  color: #fdff00;
  background-color: #ffff;
}

.main__btn {
  padding: 12px 67px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.main__card {
  padding-top: 55px;
  display: flex;
  gap: 40px;
}
.main__card-item {
  border-radius: 8px;
  border: 1px solid #383838;

  transition: transform 0.2s;
}

.main__card-item:hover {
  transform: scale(1.2);
}
.main__copyright {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 14px;

  padding: 37px 0 37px 0;
}
.main__copyright-text {
  color: #929292;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
